body {
    background-color: #fcfcfc; 
    color: #2b2d42;            
}

.text-fitness-orange {
    color: #f77f00; 
}

.footer-links a:hover {
    text-decoration: underline !important;
    color: #f77f00 !important;
}